.n-digit{
  width:15px;
  max-width: 15px;
  height:28px;
  position:relative;
  display:inline-block;
  margin-top: 10px;
  float: left;
  margin-left: 2px;
}
.n-digit .segment {
  /*background:#00FF00;*/
  background-color: #FF0000;
  border-radius:5px;
  position:absolute;
  opacity:0.2;
  transition:opacity 0.2s;
  -webkit-transition:opacity 0.2s;
  -ms-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  -o-transition:opacity 0.2s;
}

.n-digit .segment.on{
  background-color: red;
  opacity:1;
  box-shadow:0 0 30px rgba(0,255,0,0.1);
  transition:opacity 0s;
  -webkit-transition:opacity 0s;
  -ms-transition:opacity 0s;
  -moz-transition:opacity 0s;
  -o-transition:opacity 0s;
}



.n-digit .segment:nth-child(1) {
	  left: 3px;
	  width: 10px;
	  height:2px;
}

.n-digit .segment:nth-child(2) {
	  left: 12px;
	  top: 2px;
	  width:2px;
	  height:11px;
}

.n-digit .segment:nth-child(3) {
	left: 12px;
	top: 15px;
    width:2px;
    height:11px;
}

.n-digit .segment:nth-child(4) {
	left: 3px;
	top: 26px;
    width: 10px;
    height:2px;
}

.n-digit .segment:nth-child(5) {
	left: 2px;
	top: 15px;
    width:2px;
    height:11px;
}

.n-digit .segment:nth-child(6) {
	left: 2px;
	top: 2px;
    width:2px;
    height:11px;
}

.n-digit .segment:nth-child(7) {
	left: 3px;
	top: 13px;
    width: 10px;
    height:2px;
}